<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lwz.dao.ResetpassDao" >
  <resultMap id="BaseResultMap" type="com.lwz.entity.Resetpass" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="CHAR" />
    <result column="phone_no" property="phoneNo" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, phone_no
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from resetpass
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from resetpass
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lwz.entity.Resetpass" >
    insert into resetpass (id, username, phone_no
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=CHAR}, #{phoneNo,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lwz.entity.Resetpass" >
    insert into resetpass
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="phoneNo != null" >
        phone_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=CHAR},
      </if>
      <if test="phoneNo != null" >
        #{phoneNo,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lwz.entity.Resetpass" >
    update resetpass
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=CHAR},
      </if>
      <if test="phoneNo != null" >
        phone_no = #{phoneNo,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lwz.entity.Resetpass" >
    update resetpass
    set username = #{username,jdbcType=CHAR},
      phone_no = #{phoneNo,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="querRestRequest" resultMap="BaseResultMap">
  	select id, username, phone_no from resetpass
  </select>
  <delete id="deleteById">
  	delete from resetpass where id=#{id}
  </delete>
</mapper>